@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

:root {
  --primary-text-light-color: #e1d4c9;
  --primary-text-dark-color: #403f3d;
  --body-color: #e1d4c9;
  --container-color: #665f55;
  --backdrop-color: rgba(64, 63, 61, 0.8);
  --border-light-color: #c1b6ad;
  --border-dark-color: #665f55;
  --accent-color: #b0907a;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
ul,
ol,
li {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  background-color: var(--body-color);
  font-family: Inter;
  font-size: 16px;
  color: var(--primary-text-dark-color);
  font-weight: 600;
  line-height: 24px;
  box-sizing: border-box;
}
body.lock {
  overflow: hidden;
}
.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      padding: 0 40px;
    }
  }
  @media screen and (min-width: 1440px) {
    .container {
      max-width: 1440px;
    }
  }
}

/* =======icon======= */
.icon {
  display: block;
  fill: currentColor;
  transition: fill 0.5s ease-out;
}
/* =======icon======= */

/* =====button-primary=================== */
.button-primary {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 24px;
  max-width: 200px;
  border-radius: 100px;
  background-color: var(--body-color);
  color: var(--primary-text-dark-color);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 78px;
  transition: stroke 0.5s ease-out;
}
/* .button-primary__icon {
  stroke: transparent;
  stroke-width: 1px;
  fill: currentColor; 
}

.button-primary:focus .button-primary__icon,
.button-primary:hover .button-primary__icon {
  stroke: currentColor;
} */
.button-primary__icon {
  stroke: transparent;
  stroke-width: 1px;
  fill: transparent;
}
.button-primary:focus .button-primary__icon,
.button-primary:hover .button-primary__icon {
  stroke: var(--primary-text-dark-color);
}
/* .button-primary::before {
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 70%;
  transform: translateX(-70%);
  width: 20px;
  height: 20px;
  transition: background-image 0.5s ease-out;
}
.button-primary:focus::before,
.button-primary:hover::before {
  background-image: url("../assets/icons/btn-coffee-cup.svg");
} */
/* =====button-primary=================== */

/* =======button-secondary======= */
.button-secondary {
  display: flex;
  text-align: center;
  flex-direction: row;
  column-gap: 8px;
  background-color: transparent;
  color: var(--primary-text-dark);
  max-width: 200px;
  border-radius: 100px;
  border: 1px solid var(--border-dark-color);
  padding: 12px 20px 12px 20px;
  outline: none;
  cursor: pointer;
  transition: color 0.5s ease-out, background-color 0.5s ease-out;
}
.button-secondary__text {
  display: flex;
  flex-direction: column;
  text-align: start;
  row-gap: 2px;
  width: 92px;
}
.button-secondary__text--thin {
  font-size: 10px;
  line-height: 14px;
}
.button-secondary:hover,
.button-secondary:focus {
  background-color: var(--container-color);
  color: var(--primary-text-light-color);
}
.button-secondary:hover .icon,
.button-secondary:focus .icon {
  fill: var(--primary-text-light-color);
}
/* =======button-secondary======= */

/* =====title=================== */
.title {
  font-size: 32px;
  font-style: italic;
  line-height: 125%;
  margin-bottom: 40px;
}
.title span {
  color: var(--accent-color);
}
.title--center {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 60px;
  }
}
/* =====title=================== */
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.page {
  flex: 1 1 auto;
}
.footer {
  padding: 20px 0;
}
/* --------header-------- */
.header {
  padding: 20px 0;
}
.header__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: block;
  width: 100px;
  height: 60px;
  position: relative;
  z-index: 5;
}
.header__logo img {
  width: 100%;
}
.header__mobile-wrap {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 769px) {
  .header__mobile-wrap {
    flex-basis: 100px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .burger-menu {
    z-index: 5;
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 100px;
    border: 1px solid var(--primary-text-dark-color);
    transition: all 1s ease-out;
    background-color: transparent;
    cursor: pointer;
    display: flex;
  }

  .burger-menu::before,
  .burger-menu::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 1px;
    background-color: var(--primary-text-dark-color);
    transform: translate(-50%, -50%) rotate(0deg);
    transition: transform 0.3s ease;
    display: block;
  }

  .burger-menu::before {
    top: 18px;
  }
  .burger-menu::after {
    bottom: 18px;
  }

  .burger-menu.active::after {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .burger-menu.active::before {
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .header__navigation {
    position: fixed;
    z-index: 4;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--body-color);
    padding: 160px 16px 60px 16px;
    transition: left 0.3s ease-out;
    overflow: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header__navigation.active {
    left: 0;
  }
  /*плашка для того щоб пункти меню не налазили на лого і хрестик*/
  /* .header__navigation::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 2;
    background-color: red;
  } */
  .header__list {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    align-items: center;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 769px) {
  .header__navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .header__list {
    width: 100%;
    display: flex;
    column-gap: 40px;
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .header__navigation {
    max-width: 66%;
  }
}

.header__list li {
  cursor: pointer;
  position: relative;
}
.header__link {
  color: var(--primary-text-dark);
  line-height: 150%;
}
.header__menu {
  position: relative;
  max-width: 72px;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  cursor: pointer;
}
.header__menu span {
  color: var(--primary-text-dark-color);
}
.header__list li::before,
.header__menu::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: var(--primary-text-dark-color);
  transition: width 0.3s, left 0.3s ease-out;
  transform-origin: right;
}
.header__list li:hover::before,
.header__list li:focus::before,
.header__menu:hover::before,
.header__menu:focus::before {
  width: 100%;
  left: 0;
}

/* =======hero=========== */
.hero-section {
}
.hero-wrapper {
  /* max-width: 1360px; */

  padding: 60px 16px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/images/hero-mob@1x.jpg");
  border-radius: 40px;
  overflow: hidden;
}
@media (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-wrapper {
    background-image: url("../assets/images/hero-mob@2x.jpg");
  }
}
@media screen and (max-width: 1439px) {
  .hero-wrapper {
    background-image: url("../assets/images/hero-tabl@1x.jpg");
  }
}
@media (min-device-pixel-ratio: 2) and (max-width: 1439px),
  (min-resolution: 192dpi) and (max-width: 1439px),
  (min-resolution: 2dppx) and (max-width: 1439px) {
  .hero-wrapper {
    background-image: url("../assets/images/hero-tabl@2x.jpg");
  }
}
@media screen and (min-width: 1440px) {
  .hero-wrapper {
    padding: 100px 60px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-wrapper {
    padding: 100px;
    background-image: url("../assets/images/hero-desk@1x.jpg");
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1440px),
  (min-resolution: 192dpi) and (min-width: 1440px),
  (min-resolution: 2dppx) and (min-width: 1440px) {
  .hero-wrapper {
    background-image: url("../assets/images/hero-desk@2x.jpg");
  }
}

.hero {
  width: 316px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
@media screen and (min-width: 768px) {
  .hero {
    width: 530px;
  }
}
.hero__title {
  color: var(--body-color);
  font-size: 42px;
  font-style: italic;
  line-height: 105%;
}
.hero__title span {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 72px;
  }
}
.hero__text {
  font-weight: 400px;
  color: var(--primary-text-light-color);
}

/* =======hero=========== */

/*========favorite===========*/
.favorite-section {
  padding: 100px 0;
}

.cart {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}
.cart__image {
  width: 348px;
  height: 348px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .cart__image {
    width: 480px;
    height: 480px;
  }
}
.cart__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.cart__info {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 468px) {
  .cart__info {
    width: 480px;
  }
}
.cart__title,
.cart__price {
  font-size: 24px;
  line-height: 30px;
}
.cart__description {
  font-weight: 400;
  text-align: center;
}
.cart__price {
}
/*========favorite===========*/

/*========slider===========*/

.favorite-section__swiper {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
/*========slider===========*/

/*========pagination-dots========*/
.swiper-pagination__dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.swiper-pagination-bullet {
  display: inline-flex;
  width: 40px;
  height: 4px;
  border-radius: 100px;
  border: none;
  outline: none;
  background-color: var(--border-light-color);
  cursor: pointer;
  transition: background-color 0.5s ease-out;
  opacity: 1;
}
.swiper-pagination-bullet:hover,
.swiper-pagination-bullet:focus {
  background-color: var(--border-dark-color);
}

/* .swiper-pagination-bullet-active.swiper-pagination-bullet {
  background-color: var(--border-dark-color);
 } */

/*========pagination-dots========*/

/*=====button-prev========*/

@media screen and (min-width: 768px) {
  .button-prev .swiper-button-disabled {
    display: block;
  }
  .button-prev,
  .button-next {
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid var(--border-dark-color);
    color: var(--border-dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease-out, border-color 0.5s ease-out;
    cursor: pointer;
  }
  .button-prev {
    left: 30px;
  }
  .button-next {
    right: -30px;
  }
  .button-prev__icon {
    display: block;
    stroke-width: 1px;
    stroke: currentColor;
    transition: stroke 0.5s ease-out;
  }
  .button-prev:hover,
  .button-prev:focus,
  .button-next:hover,
  .button-next:focus {
    background-color: var(--container-color);
    border-color: var(--container-color);
  }
  .button-prev:hover .button-prev__icon,
  .button-prev:focus .button-prev__icon,
  .button-next:hover .button-prev__icon,
  .button-next:focus .button-prev__icon {
    stroke: var(--primary-text-light-color);
  }
}
/*=====button-prev========*/

/*==========about=========*/
.about-section {
  padding-bottom: 100px;
}
.gallery {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
@media screen and (min-width: 1440px) {
  .gallery {
    flex-direction: row;
    column-gap: 40px;
  }
}
.gallery__item {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 40px;
}
@media screen and (min-width: 1440px) {
  .gallery__item {
    display: flex;
    width: 50%;
  }
}
.gallery__image {
  width: auto;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;

  object-fit: cover;
  border-radius: 20px;
  overflow: hidden;
  transform: scale(1);
  transition: all 1s ease-out;
}
.gallery__image:hover,
.gallery__image:focus {
  transform: scale(0.9);
}

.gallery__image--big {
  min-height: 590px;
}
.gallery__image--small {
  display: none;
}
@media screen and (min-width: 1440px) {
  .gallery__image--small {
    display: block;
    max-height: 430px;
  }
}

/*==========about=========*/

/* =========mobile=========== */
.mobile-section {
  padding-bottom: 100px;
}
.mobile {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
@media screen and (min-width: 768px) {
  .mobile {
    row-gap: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .mobile {
    flex-direction: row;
    column-gap: 100px;
    align-items: center;
  }
}
.mobile__left {
  flex: 1;
}
.button__list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media screen and (min-width: 768px) {
  .button__list {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }
}
.mobile__image {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.mobile__image img {
  width: 348px;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: center;
}
@media screen and (min-width: 768px) {
  .mobile__image img {
    width: 630px;
  }
}

/* =========mobile=========== */

/* =======contact=========== */
.contact-section {
  margin-top: 40px;
  margin-bottom: 40px;
}

.contact {
  padding: 60px 16px;
  background-color: var(--container-color);
  border-radius: 40px;

  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
@media screen and (min-width: 768px) {
  .contact {
    padding: 100px 60px;
  }
}
@media screen and (min-width: 1440px) {
  .contact {
    padding: 100px 100px;
    flex-direction: row;
    column-gap: 100px;
    align-items: center;
  }
}
.contact__left {
  width: 100%;

  /* width: 316px;   */
}
@media screen and (min-width: 768px) {
  .contact__left {
    width: 568px;
  }
}
@media screen and (min-width: 1440px) {
  .contact__left {
    width: 530px;
  }
}
.socials {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}
.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: 1px solid var(--border-light-color);
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
  background-color: transparent;
  color: var(--primary-text-light-color);
}
.socials__icon {
  stroke: currentColor;
  stroke-width: 1px;
  transition: stroke 0.5s ease-out;
  fill: transparent;
}
.socials__link:hover,
.socials__link:focus {
  background-color: var(--body-color);
  border-color: var(--body-color);
}
.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  stroke: var(--primary-text-dark-color);
}
.info__text {
  color: var(--primary-text-light-color);
  font-size: 24px;
  line-height: 125%;
  margin-bottom: 40px;
}
.address__list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.address__item {
  color: var(--primary-text-light-color);
  display: inline-flex;
  flex-direction: row;
  column-gap: 8px;
  cursor: pointer;
  position: relative;
}
.address__item::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: var(--primary-text-light-color);
  transition: width 0.3s, left 0.3s ease-out;
  transform-origin: right;
}
.address__item:hover::after,
.address__item:focus::after {
  width: 100%;
  left: 0;
}
.address__item--watch {
  width: 273px;
}
.address__icon {
  stroke: currentColor;
  stroke-width: 1px;
  fill: transparent;
}

/* =======contact=========== */
