@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

:root {
  --primary-text-light-color: #e1d4c9;
  --primary-text-dark-color: #403f3d;
  --body-color: #e1d4c9;
  --container-color: #665f55;
  --backdrop-color: rgba(64, 63, 61, 0.8);
  --border-light-color: #c1b6ad;
  --border-dark-color: #665f55;
  --accent-color: #b0907a;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
ul,
ol,
li {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  background-color: var(--body-color);
  font-family: Inter;
  font-size: 16px;
  color: var(--primary-text-dark-color);
  font-weight: 600;
  line-height: 24px;
  box-sizing: border-box;
}
body.lock {
  overflow: hidden;
}
.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      padding: 0 40px;
    }
  }
  @media screen and (min-width: 1440px) {
    .container {
      max-width: 1440px;
    }
  }
}

/* =======icon======= */
.icon {
  display: block;
  fill: currentColor;
  transition: fill 0.5s ease-out;
}
/* =======icon======= */

/* =====button-primary=================== */
.button-primary {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 24px;
  max-width: 200px;
  border-radius: 100px;
  background-color: var(--body-color);
  color: var(--primary-text-dark-color);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 78px;
  transition: stroke 0.5s ease-out;
}
/* .button-primary__icon {
  stroke: transparent;
  stroke-width: 1px;
  fill: currentColor; 
}

.button-primary:focus .button-primary__icon,
.button-primary:hover .button-primary__icon {
  stroke: currentColor;
} */
.button-primary__icon {
  stroke: transparent;
  stroke-width: 1px;
  fill: transparent;
}
.button-primary:focus .button-primary__icon,
.button-primary:hover .button-primary__icon {
  stroke: var(--primary-text-dark-color);
}
/* .button-primary::before {
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 70%;
  transform: translateX(-70%);
  width: 20px;
  height: 20px;
  transition: background-image 0.5s ease-out;
}
.button-primary:focus::before,
.button-primary:hover::before {
  background-image: url("../assets/icons/btn-coffee-cup.svg");
} */
/* =====button-primary=================== */

/* =======button-secondary======= */
.button-secondary {
  display: flex;
  text-align: center;
  flex-direction: row;
  column-gap: 8px;
  background-color: transparent;
  color: var(--primary-text-dark);
  max-width: 200px;
  border-radius: 100px;
  border: 1px solid var(--border-dark-color);
  padding: 12px 20px 12px 20px;
  outline: none;
  cursor: pointer;
  transition: color 0.5s ease-out, background-color 0.5s ease-out;
}
.button-secondary__text {
  display: flex;
  flex-direction: column;
  text-align: start;
  row-gap: 2px;
  width: 92px;
}
.button-secondary__text--thin {
  font-size: 10px;
  line-height: 14px;
}
.button-secondary:hover,
.button-secondary:focus {
  background-color: var(--container-color);
  color: var(--primary-text-light-color);
}
.button-secondary:hover .icon,
.button-secondary:focus .icon {
  fill: var(--primary-text-light-color);
}
/* =======button-secondary======= */

/* =====title=================== */
.title {
  font-size: 32px;
  font-style: italic;
  line-height: 125%;
  margin-bottom: 40px;
}
.title span {
  color: var(--accent-color);
}
.title--center {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 60px;
  }
}
/* =====title=================== */
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.page {
  flex: 1 1 auto;
}
.footer {
  padding: 20px 0;
}
/* --------header-------- */
.header {
  padding: 20px 0;
}
.header__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: block;
  width: 100px;
  height: 60px;
}
.header__logo img {
  width: 100%;
}
.header__navigation {
}
.header__list {
  display: flex;
  column-gap: 40px;
  flex-direction: row;
  align-items: center;
}
.header__list li {
  cursor: pointer;
  position: relative;
}
.header__link {
  color: var(--primary-text-dark);
  line-height: 150%;
}
.header__menu {
  position: relative;
  max-width: 72px;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  cursor: pointer;
}
.header__menu span {
  color: var(--primary-text-dark-color);
}
.header__list li::before,
.header__menu::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: var(--primary-text-dark-color);
  transition: width 0.3s, left 0.3s ease-out;
  transform-origin: right;
}
.header__list li:hover::before,
.header__list li:focus::before,
.header__menu:hover::before,
.header__menu:focus::before {
  width: 100%;
  left: 0;
}

/* =======hero=========== */
.hero-section {
  max-width: 1360px;

  padding: 60px 16px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/images/hero-mob@1x.jpg");
}
@media (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-section {
    background-image: url("../assets/images/hero-mob@2x.jpg");
  }
}
@media screen and (max-width: 1439px) {
  .hero-section {
    padding: 100px 60px;
    background-image: url("../assets/images/hero-tabl@1x.jpg");
  }
}
@media (min-device-pixel-ratio: 2) and (max-width: 1439px),
  (min-resolution: 192dpi) and (max-width: 1439px),
  (min-resolution: 2dppx) and (max-width: 1439px) {
  .hero-section {
    background-image: url("../assets/images/hero-tabl@2x.jpg");
  }
}

@media screen and (min-width: 1440px) {
  .hero-section {
    padding: 100px;
    background-image: url("../assets/images/hero-desk@1x.jpg");
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1440px),
  (min-resolution: 192dpi) and (min-width: 1440px),
  (min-resolution: 2dppx) and (min-width: 1440px) {
  .hero-section {
    background-image: url("../assets/images/hero-desk@2x.jpg");
  }
}

.hero {
  width: 316px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
@media screen and (min-width: 1440px) {
  .hero {
    width: 530px;
  }
}
.hero__title {
  color: var(--body-color);
  font-size: 42px;
  font-style: italic;
  line-height: 105%;
}
.hero__title span {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 72px;
  }
}
.hero__text {
  font-weight: 400px;
  color: var(--primary-text-light-color);
}

/* =======hero=========== */

/*==========about=========*/
.about-section {
  padding-bottom: 100px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 590px);

  gap: 40px;
}
@media screen and (min-width: 1440px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, minmax(430px, 1fr)); */
    /* grid-template-rows: repeat(auto-fit, min-max(430px,1fr)); */
  }
}
.gallery__item {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}
.gallery__item--small {
  display: none;
}
@media screen and (min-width: 1440px) {
  .gallery__item--small {
    display: block;
  height: 430px;
    /* height: 100%; */
  /* height: 726px; */
  /* width: 660px; */
  }
}
    /* height: 590px; */
  /* height: 430px; */


/* .gallery__item:nth-child(4) {
  grid-row: 2 / span 3; /* Розташуйте четверту картинку в першій колонці і розтягніть на дві колонки */
/* margin-top: 40px; Додайте відступ сверху, щоб вирівняти з другою картинкою */
/*} */
.gallery__item img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
  border-radius: 20px;
  overflow: hidden;
  transform: scale(1);
  transition: scale 2s ease-in; 
}
.gallery__item:hover img{
  transform: scale(0.9);
}
/*==========about=========*/

/* =========mobile=========== */
.mobile-section {
  padding-bottom: 100px;
}
.mobile {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
@media screen and (min-width: 768px) {
  .mobile {
    row-gap: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .mobile {
    flex-direction: row;
    column-gap: 100px;
    align-items: center;
  }
}
.mobile__left {
  flex: 1;
}
.button__list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media screen and (min-width: 768px) {
  .button__list {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }
}
.mobile__image {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.mobile__image img {
  width: 348px;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: center;
}
@media screen and (min-width: 768px) {
  .mobile__image img {
    width: 630px;
  }
}

/* =========mobile=========== */

/* =======contact=========== */
.contact-section {
  margin-top: 40px;
  margin-bottom: 40px;
}

.contact {
  padding: 60px 16px;
  background-color: var(--container-color);
  border-radius: 40px;

  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
@media screen and (min-width: 768px) {
  .contact {
    padding: 100px 60px;
  }
}
@media screen and (min-width: 1440px) {
  .contact {
    padding: 100px 100px;
    flex-direction: row;
    column-gap: 100px;
    align-items: center;
  }
}
.contact__left {
  width: 100%;

  /* width: 316px;   */
}
@media screen and (min-width: 768px) {
  .contact__left {
    width: 568px;
  }
}
@media screen and (min-width: 1440px) {
  .contact__left {
    width: 530px;
  }
}
.socials {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}
.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: 1px solid var(--border-light-color);
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
  background-color: transparent;
  color: var(--primary-text-light-color);
}
.socials__icon {
  stroke: currentColor;
  stroke-width: 1px;
  transition: stroke 0.5s ease-out;
  fill: transparent;
}
.socials__link:hover,
.socials__link:focus {
  background-color: var(--body-color);
  border-color: var(--body-color);
}
.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  stroke: var(--primary-text-dark-color);
}
.info__text {
  color: var(--primary-text-light-color);
  font-size: 24px;
  line-height: 125%;
  margin-bottom: 40px;
}
.address__list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.address__item {
  color: var(--primary-text-light-color);
  display: inline-flex;
  flex-direction: row;
  column-gap: 8px;
  cursor: pointer;
  position: relative;
}
.address__item::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: var(--primary-text-light-color);
  transition: width 0.3s, left 0.3s ease-out;
  transform-origin: right;
}
.address__item:hover::after,
.address__item:focus::after {
  width: 100%;
  left: 0;
}
.address__item--watch {
  width: 273px;
}
.address__icon {
  stroke: currentColor;
  stroke-width: 1px;
  fill: transparent;
}

/* =======contact=========== */
